.product-details-container {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-main-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.image-thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.thumbnail-img:hover {
  border-color: #007bff;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 2.5rem;
  color: #333;
}

.product-description {
  font-size: 1.1rem;
  color: #666;
}

.total-reviews {
  font-size: 1rem;
  color: #888;
}

.product-price {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.discounted-price {
  color: #e74c3c;
  margin-right: 10px;
}

.original-price {
  font-size: 1.5rem;
  color: #888;
  text-decoration: line-through;
}

.stock-badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1rem;
}

.in-stock {
  background-color: #28a745;
  color: #fff;
}

.out-of-stock {
  background-color: #dc3545;
  color: #fff;
}

.more-info-title {
  margin-top: 30px;
  font-size: 1.8rem;
  color: #333;
}

.quantity-info {
  margin-top: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-btn:hover {
  background-color: rgb(1,100,30);
}

.counter-value {
  font-size: 1.5rem;
  color: #333;
}

.stock-info {
  font-size: 1.2rem;
  color: #666;
}

.actions {
  display: flex;
  justify-content: start;
  gap: 15px;
}

.buy-now-btn {
  background-color: green;
  color: #fff;
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
  background-color: #e14b4b;
}

.add-to-cart-btn {
  border-color: green;
  color: green;
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #007bff;
  color: #fff;
}
