<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="custom-form">
  <div class="form-group">
    <label for="formEmail" class="form-label">Email Address</label>
    <input
      type="email"
      class="form-input"
      id="formEmail"
      formControlName="email"
    />
    @if (email?.invalid && email?.touched) {
    <div class="form-error">
      @if (email?.hasError('required')) {
      <span>Required</span>
      } @if (email?.hasError('pattern')) {
      <span>Please Enter a Valid Email Address</span>
      }
    </div>
    }
  </div>

  <div class="form-group">
    <label for="formPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-input"
      id="formPassword"
      formControlName="password"
    />
    @if (password?.invalid && password?.touched) {
    <div class="form-error">
      @if (password?.hasError('required')) {
      <span>Required</span>
      } @if (password?.hasError('minlength')) {
      <span>Password must be at least 6 characters</span>
      }
    </div>
    }
  </div>

  <button type="submit" class="btn-custom">Submit</button>
</form>
